@import "tailwindcss"; /* This is the new Tailwind v4 way */

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  margin: 0;
  padding: 0;
}